@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;500;700;900&display=swap');

:root {

    --base-color: #000;
    --primary-color: #fff;
    --bg-color: #6c83ff;
    --bg-color-2: #ffa98e;
}

*,
::after,
::before {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    clear: both;
}

body {
    background: var(--base-color);
    font-family: inherit;
    color: var(--primary-color);
    clear: both;
    box-sizing: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: 5s;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    word-spacing: 5px;
    cursor: pointer;
}

a:hover::before {
    content: '[';
    opacity: .6;
    transition: 5s;
    padding: 10px;
}

a:hover::after {
    content: ']';
    opacity: .6;
    transition: 5s;
    padding: 10px;
}

.showcase-card:hover::before {
    content: '';
    padding: 0;
}

.showcase-card:hover::after {
    content: '';
    padding: 0;
}


.btn {
    padding: 16px 32px;
    background: var(--primary-color);
    color: var(--base-color);
    font-size: 14px;
    border-radius: 50px;
    margin-top: 40px;
    cursor: pointer;
}

.btn:hover {
    opacity: .6;
}

i {
    padding: 0 10px;
    align-items: center;
    font-size: 16px;
}

section {
    padding: 100px;
}

/*grid-margins and paddings*/

.grid-start-3 {
    grid-column-start: 3;
}

.grid-start-11 {
    grid-column-start: 11;
}

.grid-start-19 {
    grid-column-start: 19;
}


.grid-span-5 {
    grid-column-end: span 5;
}

.nav-bar {
    position: relative;
    display: flex;
    width: 100%;
    padding: 32px 40px;
    justify-content: space-between;
    align-items: center;
    line-height: 1.71;
    z-index: 1000;
}

.nav-bar label {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

.nav-bar .nav-items {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.nav-bar .nav-items li {
    padding: 0 20px;
    margin: 0 20px;
}

.video-layout {
    padding: 0;
    margin: 0;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.our-work-sec,
.video-layout .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.our-work-sec .text-box p,
.video-layout .text-box p {
    max-width: 800px;
    font-size: 48px;
    font-weight: 600;
}

.our-work-sec {
    flex-direction: column;
}

.what-we-do,
.work-place,
.about-us {
    display: flex;
}

.what-we-do .img-box,
.work-place .img-box,
.about-us .img-box {
    max-width: 70%;
}

.what-we-do .img-box img,
.work-place .img-box img,
.about-us .img-box img {
    width: 100%;
}

.what-we-do .text-box,
.work-place .text-box,
.about-us .text-box {
    padding: 60px 90px;
    display: flex;
    flex-flow: column;
    align-items: flex-start; 
    line-height: 1.6;
}

.what-we-do .text-box p,
.work-place .text-box p,
.about-us .text-box p {
    font-size: 24px;
    font-weight: 300;
    text-align: left;
}

.show-case {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-case .show-case-container {
    padding: 16px 32px;
}

.show-case .show-case-container .img-box {
    max-width: 90%;
}

.show-case .show-case-container .img-box img {
    width: 100%;
}

.show-case .show-case-container .text-box {
    max-width: 90%;
    padding: 32px 0;
}

.show-case .show-case-container .text-box h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.show-case .show-case-container .text-box p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}
.parent-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(25, 1fr);
    width: 100%;
}

.client-show {
    position: relative;
}

.client-show .grid-logo {
    height: auto;
    width: 100%;
}

.transition {
    left: 0;
    top: 0;
    opacity: 0;
    transition: .10s;
    animation: imgout 10s ease-in-out infinite;
    width: 100%;
}

@keyframes imgout {
    0% {
        transform: translateY(0px);
        opacity: 1;
        transition: .10s;
    }
    
    50% {
        transform: translateY(-50px);
        opacity: 0;
        transition: .10s;
    }
    
    100% {
        transform: translateY(50px);
        opacity: 0;
        transition: .10s;
    }
}

.client-show .grid-logo img {
    width: 100%;
}


/*------------------footer----------------*/



footer {
    padding: 150px 20px 0;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

.main-ft {
    display: flex;
    align-items: center;
    line-height: 1.6;
}

.main-ft .main-ft-items {
    padding-bottom: 10px;
}

.main-ft .main-ft-items a {
    font-size: 12px;
    font-weight: 200;
}

.ft-cta {
    display: flex;
    align-items: baseline;
}

.ft-cta li {
    list-style: none;
}

.ft-cta li .btn-ft {
    filter: invert(1);
    opacity: .6;
}

.ft-cta .social-ico {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}

/*responsive */

@media (min-width: 990px) {
    
}