@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /*    font color*/
    --base-color: #d6dae5;
    --secondary-color: #eafaf1;
    --primary-color: #fcfcfc;
    --header-color: #00ad6a;
    --heading-color: #1fe374;
    --font-color: #080c16;
    /*    typography*/
    --f-sm: 0.8rem;
    --f-md: 1rem;
    --f-lg: 1.5rem;
    /*    padding and margin*/
    --spacing-unit: 0.625em;
    --margin: calc(0.2 * var(--spacing-unit));
    /*2px*/
    --padding: calc(0.2 * var(--spacing-unit));
    /*2px*/
    /*    margin*/
    --margin-sm: var(--margin);
    --margin-md: calc(4 * var(--margin));
    /*8px*/
    --margin-lg: calc(8 * var(--margin));
    /*16px*/
    /*    padding*/
    --padding-sm: var(--padding);
    --padding-md: calc(4 * var(--padding));
    /*8px*/
    --padding-lg: calc(8 * var(--padding));
    /*16px*/
}

/*Resets*/
a,
ul,
li {
    text-decoration: none;
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*navigation*/

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    width: 100%;
    background: var(--secondary-color);
    line-height: 1.6;
}

.nav-bar .nav__items {
    display: flex;
    align-items: center;
    gap: 35px;
    height: 90px;
}

.nav__items .nav__link {
    color: var(--header-color);
    text-transform: capitalize;
    font-weight: 600;
    height: inherit;

}

.nav__items .nav__link:hover {
    color: var(--font-color);
}

.nav__items .nav__link.active {
    color: var(--font-color);
}

.nav__items .nav__btn {
    width: 80px;
    height: 30px;
    border: 2px solid var(--header-color);
    padding: var(--padding-sm) var(--padding-md);
    background: var(--secondary-color);
}

.nav__items .nav__btn:hover {
    color: var(--header-color);
    filter: drop-shadow(-5px 5px 0px var(--header-color));
}

/*main content*/
.qoutes__section,
.main__content {
    background: var(--secondary-color);
}

.main__content .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main__content .heading .heading-txt {
    font-size: calc(2.5* var(--f-lg));
    font-weight: 600;
    line-height: 1.2;
    max-width: 550px;
    padding-bottom: var(--padding-sm);
}

.main__content .heading .description {
    max-width: 600px;
    line-height: 1.6;
    font-size: calc(1.2 * var(--f-md));
}

/*pricing card styling*/
.pricing__cards {
    padding: 50px 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.pricing__cards .p__card-body {
    width: 350px;
    padding: var(--padding-lg) calc(1.6 * var(--padding-lg));
}

.pricing__cards .p__card-body .p__card-heading {
    font-weight: 700;
    font-size: calc(0.8 * var(--f-lg));
    color: var(--header-color);
    margin-bottom: var(--margin-lg);
}

.pricing__cards .p__card-body .p__card-list {
    margin-left: var(--margin-md)
}

.pricing__cards .p__card-body .p__card-list li {
    list-style: disc;
    font-size: calc(0.6 * var(--f-lg));
}

.pricing__cards .p__card-body .p__card-footer {
    margin-top: var(--margin-lg);
    font-size: calc(0.66 * var(--f-lg));
}

.pricing__cards .p__card-body .p__card-footer a {
    color: var(--h-main-color);
    text-decoration: underline;
}

/*card 02*/
.r__card {
    background: var(--primary-color);
    overflow: hidden;
    border: 2px solid var(--header-color);
    border-radius: 10px 10px 0 0;
}

.r__card::before {
    content: attr(data-header);
    border-radius: 10px 10px 0 0;
    position: absolute;
    display: block;
    margin-top: -20px;
    margin-left: -27.5px;
    background: var(--header-color);
    ;
    width: inherit;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--f-sm);
    color: var(--primary-color);
}


.p__card-body .card__text-content {
    text-align: center;
}

.p__card-body .card__text-content .p__card-heading {
    font-size: var(--f-lg);
    font-weight: 300;
    color: dimgray;
    padding-top: var(--padding-md);
}

.p__card-body .card__text-content .p__card-heading p::before {
    content: attr(data-heading);
    font-size: calc(1.8 * var(--f-lg));
    display: block;
    line-height: 1;
    text-transform: capitalize;
    color: var(--header-color);
    margin-top: var(--margin-md);
    font-weight: 700;
}

.p__card-body .card__text-content .btn {
    width: 160px;
    height: 50px;
    background: var(--heading-color);
    outline: none;
    border: none;
    color: var(--font-color);
    font-size: calc(1.1 * var(--f-md));
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: var(--margin-lg);
}

.p__card-body .card__text-content .btn:hover {
    transform: scale(110%);
}

.p__card-body .card__text-content .list__heading {
    font-size: var(--f-sm);
    font-weight: 700;
    text-transform: uppercase;
}

.p__card-list,
.r__card-list {
    padding: var(--padding-md);
}

.p__card .r__card-list .r__card-item,
.r__card .r__card-list .r__card-item {
    margin-bottom: var(--margin-lg);
    list-style-image: url(../images/check.svg);
}

/*card 03*/

.p__card {
    border: 1px solid lightgrey;
    background: var(--primary-color);
}

.p__card .p__card-header {
    background: lightgray;
    width: inherit;
    margin-top: -16px;
    margin-left: -26.5px;
    padding: var(--padding-lg);
    font-size: var(--f-sm);
    text-align: center;
}

.p__card .pr__card-heading p::before {
    content: attr(data-heading);
    font-size: calc(1.8 * var(--f-lg));
    display: block;
    line-height: 1;
    text-transform: capitalize;
    color: var(--header-color);
    margin-top: var(--margin-md);
    font-weight: 400;
}

.p__card .pr__card-heading {
    font-size: var(--f-lg);
    font-weight: 300;
    color: dimgray;
    padding-top: var(--padding-md);
    margin-bottom: var(--margin-lg);
}

/*Qoutes*/

.qoutes__section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: calc(2.8 * var(--padding-lg));
}

.qoutes__section .q__main-container .q__image {
    padding-bottom: var(--padding-lg);
}

.qoutes__section .q__main-container .qoutes {
    font-size: var(--f-lg);
    width: 850px;
}

.qoutes__section .q__main-container .q__company {
    font-size: var(--f-sm);
    margin-top: var(--margin-lg);
    font-weight: 600;
    color: var(--header-color);
}

/*Faq container*/

.faq__container {
    padding: calc(3.5 * var(--padding-lg));
}

.faq__container .f__heading {
    font-size: calc(1.8 * var(--f-lg));
    font-weight: 700;
    text-transform: uppercase;
    padding: var(--padding-lg);
    margin-left: var(--margin-sm);
}

.faq__container .f__q-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: calc(3.5 * var(--spacing-unit));
}

.faq__container .f__q-container .f__q-body {
    width: 550px;
}

.faq__container .f__q-container .f__q-body .f__q-heading {
    font-size: calc(1.2 * var(--f-md));
    padding-bottom: var(--padding-sm);
    font-weight: 600;
}

.faq__container .f__q-container .f__q-body .f__q-answer p {
    padding-bottom: var(--padding-lg);
}

/*footer*/

footer {
    position: relative;
    padding: calc(4.5 * var(--padding-lg));
    background-color: var(--font-color);
}

footer .ft__main-row {
    display: flex;
    justify-content: space-around;
}

footer .ft__main-row .ft__items {
    line-height: 2.7
}

footer .ft__main-row .ft__items .ft__btn {
    width: 350px;
    height: 60px;
    background: gray;
    margin-top: calc(3.5 * var(--margin-lg));
    
}

footer .ft__main-row .ft__items .ft__btn button {
    width: inherit;
    height: inherit;
    font-size: var(--f-md);
    font-weight: 700;
    letter-spacing: 1.2px;
    color: var(--font-color);
    background: linear-gradient(to right, #00ad6a 40%, #1fe374);
    outline: none;
    border: none;
    cursor: pointer;
}

footer .ft__main-row .ft__items .ft__btn button:hover {
    margin-top: -20px;
    margin-left: var(--margin-md);
}

.ft__heading {
    color: var(--base-color);
    font-weight: 700;
    text-transform: capitalize;
}

footer .ft__main-row .ft__items .ft__logo {
    width: 230px;
    height: 100px;
}

footer .ft__main-row .ft__items .ft__logo img {
    width: inherit
}

footer .ft__main-row .ft__items .ft__nav-items .ft__nav-link {
    color: var(--header-color);
    text-transform: capitalize;
    font-weight: 500;
}

footer .ft__main-row .ft__items .ft__nav-items .ft__nav-link:hover {
    color: var(--base-color);
}

footer .ft__cta {
    width: 700px;
    padding: 0 calc(4.4 * var(--margin-lg));
    margin-top: calc(3.5 * var(--margin-lg));
}

footer .ft__cta p {
    font-size: var(--f-sm);
    color: gray;
}

footer .ft__cta p a {
    color: gray;
    text-decoration: underline;
}